<%= image_tag 'https://as1.ftcdn.net/v2/jpg/04/19/09/48/1000_F_419094889_eDaQJahzl1pBgKf8d0Xz0HoMCAt6DX8h.jpg', class: "banner"%>
<section class="inside">
</section>
<section class="inside space-bottom">
<h2>Nos derniers coups de coeur</h2>
<div class="grille four">
<% @last_annonces.each do |annonce|%>
  <div class="item annonce">
  <%= cl_image_tag annonce.photos[0].key %>
  <h3 class="annonce-titre"><%= annonce.titre%></h3>
  <p class="annonce-town"><%= annonce.town %></p>
  <p class="annonce-price"><%= annonce.price%></p>
  </div>
<% end %>
</div>
</section>
<section class="inside space-bottom">
<h2>Nous avons la solution pour votre projet immobilier</h2>
<div class="grille three">
  <div class="item">
  <%= image_tag "acheter.png", class:"" %>
    <div>
    <h3>Acheter</h3>
    <p class="min-text">Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <%= image_tag "vendre.png", class:"" %>
    <div>
    <h3>Vendre</h3>
    <p class="min-text">Confiez-nous l’estimation et la vente de votre logement au meilleur prix<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <%= image_tag "louer.png", class:"" %>
    <div>
    <h3>Louer</h3>
    <p class="min-text">Consultez nos nombreuses offres de location pour emménager sans délais<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <%= image_tag "syndic.png", class:"" %>
    <div>
    <h3>Gestion de syndic</h3>
    <p class="min-text">Confiez nous la bonne gestion de votre copropriété<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <%= image_tag "gestion-locative.png", class:"" %>
    <div>
    <h3>Gestion locative</h3>
    <p class="min-text">Notre agence s’occupe de la bonne gestion de votre patrimoine locatif<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <%= image_tag "investir.png", class:"" %>
    <div>
    <h3>Investir</h3>
    <p class="min-text">Investissez dans la pierre et bénéficiez d’avantages pour faire fructifier votre patrimoine<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
</div>
</section>


<section class="inside contact-form space-bottom">
<%= simple_form_for :contact_mail, :url => '/contact_send' do |f| %>
  <h2>Nous contacter</h2>
  <div class="long">
    <%= f.input :status, label:"Vous êtes", collection:["Particulier","Professionnel"], input_html: { value: nil }, prompt: "", required: true %>
    <%= f.input :demande, label:"Votre demande concerne", collection:["Acheter","Vendre", "Louer","Gestion locative","Estimation"], input_html: { value: nil }, prompt: "", required: true %>
  </div>
  <div class="long">
    <%= f.input :lastname,label:"Nom", input_html: { value: nil }, placeholder: "", required: true %>
    <%= f.input :firstname,label:"Prénom", input_html: { value: nil }, placeholder: "", required: true%>
  </div>
  <div class="long">
    <%= f.input :email,label:"Email", input_html: { value: nil }, placeholder: "", required: true%>
    <%= f.input :tel,label:"Tel", input_html: { value: nil }, placeholder: "", required: true%>
  </div>
    <%= f.input :message,label:"Message", as: :text, input_html: {:rows => 5}, placeholder: "", required: true %>
    <%= f.input :rgpd, as: :boolean, checked_value: 'positive', unchecked_value: 'negative', required: true, label:"J'accepte que mes données soient transmises dans le cadre de ma démarche. En savoir plus sur notre politique de confidentialité" %>
    <p></p>
    <%= f.button :submit, 'Envoyer' %>
  <% end %>
  <%= image_tag 'https://as2.ftcdn.net/v2/jpg/02/38/79/63/1000_F_238796325_jW2hwK0dds68xIscdYPTZ1XBQqvH6v4g.jpg' %>
</section>
