<%= image_tag 'https://t4.ftcdn.net/jpg/01/58/27/83/240_F_158278337_NZmaLKU5H260OzNjFwqM5S6cNBLC8ekL.jpg', class: "banner"%>
<section class="inside">
</section>
<section class="inside">
<h2>Nos derniers coups de coeur</h2>
</section>
<section class="inside">
<h2>Nous avons la solution pour votre projet immobilier</h2>
</section>


<section class="inside">
<%= simple_form_for :contact_mail, :url => '/contact_send' do |f| %>
  <h2>Nous contacter</h2>
  <div class="long">
    <%= f.input :statut, label: false, collection:["Particulier","Professionnel"], input_html: { value: nil }, prompt: "Vous êtes" %>
    <%= f.input :demande, label:false, collection:["Acheter","Vendre", "Louer","Gestion locative","Gestion de syndic"], input_html: { value: nil }, prompt: "Votre demande concerne"%>
  </div>
  <div class="long">
    <%= f.input :lastname,label:false, input_html: { value: nil }, placeholder: "Nom" %>
    <%= f.input :firstname,label:false, input_html: { value: nil }, placeholder: "Prénom"%>
  </div>
  <div class="long">
    <%= f.input :email,label:false, input_html: { value: nil }, placeholder: "Email"%>
    <%= f.input :tel,label:false, input_html: { value: nil }, placeholder: "Tel"%>
  </div>
    <%= f.input :message, as: :text, label: false, input_html: {:rows => 5}, placeholder: "Votre demande"%>
    <%= f.input :accepts, as: :boolean, checked_value: 'positive', unchecked_value: 'negative', label:"J'accepte que mes données soient transmises dans le cadre de ma demande" %>
    <%= f.button :submit, 'Envoyer ma demande' %>
  <% end %>
</section>
