<%= image_tag 'https://as1.ftcdn.net/v2/jpg/04/19/09/48/1000_F_419094889_eDaQJahzl1pBgKf8d0Xz0HoMCAt6DX8h.jpg', class: "banner"%>
<section class="inside">
</section>
<section class="inside space-bottom">
<h2>Nos derniers coups de coeur</h2>
<div class="grille four">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
</section>
<section class="inside space-bottom">
<h2>Nous avons la solution pour votre projet immobilier</h2>
<div class="grille three">
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
  <div class="item">
    <img src="https://cdn-icons-png.flaticon.com/128/738/738822.png">
    <div>
    <h3>Acheter</h3>
    <p>Faites votre choix parmis nos annonces ou confiez nous la recherche de votre futur logement<br>
    <%= link_to "En savoir plus" %></p>
    </div>
  </div>
</div>
</section>


<section class="inside contact-form space-bottom">
<%= simple_form_for :contact_mail, :url => '/contact_send' do |f| %>
  <h2>Nous contacter</h2>
  <div class="long">
    <%= f.input :statut, label:"Vous êtes", collection:["Particulier","Professionnel"], input_html: { value: nil }, prompt: "" %>
    <%= f.input :demande, label:"Votre demande concerne", collection:["Acheter","Vendre", "Louer","Gestion locative","Gestion de syndic"], input_html: { value: nil }, prompt: ""%>
  </div>
  <div class="long">
    <%= f.input :lastname,label:"Nom", input_html: { value: nil }, placeholder: "" %>
    <%= f.input :firstname,label:"Prénom", input_html: { value: nil }, placeholder: ""%>
  </div>
  <div class="long">
    <%= f.input :email,label:"Email", input_html: { value: nil }, placeholder: ""%>
    <%= f.input :tel,label:"Tel", input_html: { value: nil }, placeholder: ""%>
  </div>
    <%= f.input :message,label:"Message", as: :text, input_html: {:rows => 5}, placeholder: "" %>
    <%= f.input :accepts, as: :boolean, checked_value: 'positive', unchecked_value: 'negative', label:"J'accepte que mes données soient transmises dans le cadre de ma démarche. En savoir plus sur notre politique de confidentialité" %>
    <p></p>
    <%= f.button :submit, 'Envoyer' %>
  <% end %>
  <%= image_tag 'https://as2.ftcdn.net/v2/jpg/02/38/79/63/1000_F_238796325_jW2hwK0dds68xIscdYPTZ1XBQqvH6v4g.jpg' %>
</section>
