<!DOCTYPE html>
<html>
  <head>
    <title>Marine Weishaar Immobilier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/navbar2" %>
    <%= render "shared/flashes" %>
    <%= render "shared/mobilenav" %>

    <%= yield %>
  </body>
</html>
