<!DOCTYPE html>
<html>
  <head>
    <title>Marine Weishaar Immobilier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>

  <body>
    <div class="sticky">
      <%= render "shared/header" %>
      <%= render "shared/navbar2" %>
    </div>
    <%= render "shared/flashes" %>
    <%= render "shared/mobilenav" %>
    <main>
      <article>
        <%= yield %>
      </article>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
